PORT=3000
DB_SERVER=localhost
DB_PORT=1433
DB_USER=apiuser
DB_PASSWORD=sua_senha
DB_NAME=OrderManagementDB
DB_TRUSTED_CONNECTION=false
DB_ENCRYPT=false

JWT_SECRET=sua_chave_secreta
JWT_EXPIRES_IN=24h